html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

#map {
  margin: auto;
  margin-top: 5%;
  height: 60%;
  width: 80%;
}

header {
  margin:auto;
  margin-top: 2%;
  text-align: center;
}
